body {
    font-family: Georgia, 'Times New Roman', Times, serif
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
header {
    background-color: lightblue;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
.logo {
    width: 80px;
    float: left;  
    
  }
  
nav ul {
    list-style-type: none;
    padding: 0;
    
  }
  
nav ul li {
    display: inline-block;
    margin: 0 10px;
    
  }
  
nav ul li a {
    color: white;
    text-decoration: none;
    background-color: blue;
  }

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.kurser {
  width: 94%;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.kurser-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kurser-box .top {
  width: 98%;
  height: 120px;
  background: #00a0e4;
  border-radius: 40px 40px 0 0;
  border: 4px solid black;

}

.kurser-box a {
  width: 100%;
  padding: 12px 0;
  background: black;
  color: white;
  border: none;
  border-radius: 0 0 40px 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 601px) {
  .kurser {
      grid-template-columns: 1fr;
  }
}


@media (max-width: 0px) {
  .kurser-box .top {
      height: 100px;
      border-radius: 30px 30px 0 0;
  }
}

