body {
   font-family: "Kirang Haerang", system-ui;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
header {
    background-color: lightblue;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
.logo {
    width: 80px;
    float: left;  
    
  }
  
nav ul {
    list-style-type: none;
    padding: 0;
    
  }
  
nav ul li {
    display: inline-block;
    margin: 0 10px;
    
  }
  
nav ul li a {
    color: white;
    text-decoration: none;
    background-color: blue;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 20px;
    border: 4px solid black;
    
    
  }

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.kurser_header {
  text-align: center;
  font-size: 22px;
}

.kurser {
  width: 94%;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.kurser-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kurser-box .top {
  display: flex;
  width: 98%;
  height: 120px;
  background: #00a0e4;
  border-radius: 40px 40px 0 0;
  border: 4px solid black;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.kurser-box a {
  width: 100%;
  padding: 12px 0;
  background: black;
  color: white;
  border: none;
  border-radius: 0 0 40px 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.tid {
  width: auto;
  margin-top: 30px;
  background:#00a0e4;
  padding: 20px;
  border: 4px solid black;
}

.tid h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tid p {
  display: flex;
  font-size: 20px;
  margin: 5px 0;
  justify-content: space-between;
  
}

.foter {
  text-align: center; 
  font-weight: 500;
}
.kurser-info {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px 0;
}

.kurs-info-box {
  background: #00a0e4;
  border: 4px solid black;
  border-radius: 25px;
  padding: 25px;
  text-align: left;
}

.kurs-info-box h3 {
  margin-top: 0;
  font-size: 24px;
}

.kurs-btn {
  display: inline-block;
  margin-top: 10px;
  background: blue;
  color: white;
  padding: 10px 18px;
  border-radius: 15px;
  text-decoration: none;
  border: 3px solid black;
  font-weight: bold;
}

.kurs-btn:hover {
  background: black;
  color: white;
}

@media (max-width: 700px) {
  .kurs-info-box {
    text-align: center;
  }
}


@media (max-width: 601px) {
  
  .kurser {
      grid-template-columns: 1fr;
  }
}


@media (max-width: 0px) {
  .kurser-box .top {
      height: 100px;
      border-radius: 30px 30px 0 0;
  }
}

